<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}">
    <title>GuestBook</title>
</head>

<body>
<div class="container">
    <ul>
        <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('guestBook.*')}" th:text="${error}"></li>
    </ul>
    <form class="form" action="#" th:action="@{/submitForm}" method="post" th:object="${guestBook}">
        <div class="row-1">
            <input type="text" placeholder="first name" name="firstName">
            <input type="text" placeholder="last name" name="lastName">
        </div>
        <div class="row-2">
            <input type="text" placeholder="email" name="email">
            <input type="text" placeholder="mobile number" name="mobileNumber">
        </div>
        <div class="row-3">
            <input type="text" placeholder="subject" name="subject">
        </div>
        <div class="row-4">
            <input type="text" placeholder="message" name="message">
        </div>
        <div class="row-5">
            <button>submit</button>
            <button type="button" onclick="window.location.href='/guestBookList'">Go To guestbook List</button>
        </div>
    </form>
</div>

</body>

</html>