body {
    background-color: #023047;
}

#form {
    background-color: #edf6f9;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-left: 300px;
}

#taskBar {
    width: 400px;
    height: 25px;
    margin: 30px 1px 1px 60px;
    border-color: #2fdd46;
    border-radius: 5px;
}

#addButton {
    background-color: #219ebc;
    border: 1px solid #219ebc;
    border-radius: 3px;
    height: 30px;
    width: 70px;
    color: white;
}

#tabs {
    margin: 30px 0px 0px 60px;
}

button {
    background-color: #edf6f9;
    border-color: #edf6f9;
    margin-right: 30px;
}

#outerCheckboxes {
    margin: 30px 0px 0px 60px;
}

input {
    width: 35px;
    height: 20px;
}

.divs {
    margin: 30px 50px 0px 60px;
    background-color: #a2d2ff;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.divs div {
    align-self: center;
}