<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>TO-DO APP</title>
</head>

<body>
<form id="form">
    <input type="text" placeholder="New task..." id="taskBar">
    <button id="addButton">ADD</button><br>
    <div id="tabs">
        <button class="tabClass">ALL</button>
        <button class="tabClass">ACTIVE</button>
        <button class="tabClass">COMPLETE</button>
    </div>
    <div>
        <div class="divs">
            <div>
                <input type="checkbox" id="one">
            </div>
            <div>
                <label for="one"> <del>Add the editing feature</del> </label>
            </div>
        </div>
        <div class="divs">
            <div>
                <input type="checkbox" id="two">
            </div>
            <div>
                <label for="one"> <del>Complete the tags</del> </label>
            </div>
        </div>
        <div class="divs">
            <div>
                <input type="checkbox" id="three">
            </div>
            <div>
                <label for="one"> <del>Fix the design a little bit</del> </label>
            </div>
        </div>
    </div>
</form>
</body>

</html>